*~

# C
*debug*
*release*
.idea

# Eclipse CDT
Debug
Release
.cproject
.metadata
.project
.settings
*/.gitignore

# rust
/target
**/*.rs.bk
.rustc_info.json

# C#
bin
obj
packages
*.userprefs
/.metadata/
